@font-face{
  font-family: 'YoungSerif';
  src: url(youngserif-regular.otf)

}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'YoungSerif', 'Quicksand', serif;
  font-size: 14px;
  line-height: 1.5;
  background: linear-gradient(to right top, #ffc4ee, #ead1fc, #dadcff, #91a2bb, #a2b6c2) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-image: linear-gradient(to right top, #ffc4ee, #ead1fc, #dadcff, #d5e5fb, #dceaf3);

}

.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  float: right;
  padding: 12px;
  color: white;
  text-decoration: none;

}


.navbar a:hover {
  color: black;
}

.active {
  background-color: #4CAF50;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.slider {
  -webkit-appearance: none;
  float: center;
  width: 10%;
  height: 8px;
  border-radius: 5px;  

  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(223, 179, 252);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 9px;
  height: 9px;
  border-radius: 10%;
  background: #4CAF50;
  cursor: pointer;
}